lib/flows/Rosbridge test messages
[{"id":"cad63f84.6127d","type":"inject","z":"d186b715.8e7bc8","name":"","topic":"","payload":"2222","payloadType":"str","repeat":"","crontab":"","once":false,"x":747.5078125,"y":459,"wires":[["c373d496.1e35e8"]]},{"id":"46e3eafa.a3a2b4","type":"debug","z":"d186b715.8e7bc8","name":"","active":true,"console":"false","complete":"payload.data","x":1009.5078125,"y":390,"wires":[]},{"id":"c373d496.1e35e8","type":"ros-publish","z":"d186b715.8e7bc8","server":"98b3e6f.950d118","topicname":"/stw","msgtype":"std_msgs/String","x":924.5078125,"y":491,"wires":[]},{"id":"89bbc3c7.7fa0c","type":"ros-subscribe","z":"d186b715.8e7bc8","server":"98b3e6f.950d118","topicname":"/stw","x":748.5078125,"y":356,"wires":[["46e3eafa.a3a2b4"]]},{"id":"98b3e6f.950d118","type":"ros-server","z":"","url":"ws://192.168.2.19:9090"}]